{% macro comment_macros(author) %}
<div class="comment d-flex">
    <div class="lhs">
        {% set picture = get_picture(author.id) %}

        {% if picture %}
        <img src="{{ url_for('utils.get_picture', filename=picture.name) }}" width="34"
             height="34" class="rounded-circle mt-1">
        {% else %}
        <img src="https://i.pinimg.com/originals/fc/04/73/fc047347b17f7df7ff288d78c8c281cf.png"
             class="rounded-circle" width="34" height="34">
        {% endif %}
    </div>
    <div class="rhs ms-2">
        <a href="{{ url_for('users.profile', slug=author.slug) }}" class="text-dark text-decoration-none p-0 m-0">{{ author.first_name }} {{ author.last_name }}</a>
        <p class="comment-text text-secondary">
            如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果我写一下汉字变成了什么？如果</p>
    </div>
</div>
{% endmacro %}