{% extends 'main.html' %}

{% block title %} Movies {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card-body">
                <div id="yohoho" data-kinopoisk="{{ film.filmId }}"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-body pb-0">
                <h4 class=""card-title>{{ film.nameEn}}</h4>
                <h6>({{ film.year}})</h6>
                <img style="width: 50%; height: 50%" class="img-responsive" src="{{ film.posterUrlPreview }}" alt="{{ film.nameEn }}">
                <p class="text-center text-secondary mb-2 p-2">
                    {{ film.description }}
                </p>
            </div>
        </div>
    </div>
</div>
<script src="//yohoho.cc/yo.js"> </script>
{% endblock %}
